<ion-menu side="start" menuId="first7" contentId="main7">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title style="text-align:center;">Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content color="primary">
        <ion-list style="background: #4AA7ED;">
            <ion-item (click)="mensajeria();" color="primary">Mensajeria
                <ion-icon style="display: block; margin-left: auto; color: #293590; font-size: 250%; " side="end" src="\assets\icon\email.svg"></ion-icon>
            </ion-item>
            <ion-item (click)="cotizaciones();" color="primary">Cotizaciones
                <ion-icon name="people" style="display: block; margin-left: auto; color: #293590; font-size: 250%;" side="end"></ion-icon>
            </ion-item>
            <ion-item (click)="informacionCliente();" color="primary">Información Cliente
                <ion-icon style="display: block; margin-left: auto; color: #293590; font-size: 250%;" side="end" src="\assets\icon\userpicture.svg"></ion-icon>
            </ion-item>
            <ion-item (click)="cerrarSesion();" color="primary">Cerrar Sesion
                <ion-icon name="log-out-outline" style="display: block; margin-left: auto; color: #293590; font-size: 250%;" side="end"></ion-icon>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="main7"></ion-router-outlet>
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <!--<ion-menu-button menu="first"></ion-menu-button>-->
            <ion-icon style="font-size: 240%;" src="\assets\icon\hamburger.svg" (click)=openFirst()></ion-icon>
        </ion-buttons>

        <img style="max-width: 38%; margin-left:auto; margin-right: auto; display: block;" src="\assets\icon\sectapp.svg" alt="" srcset="">
        <ion-buttons slot="end" disabled>
            <!--<ion-menu-button style="color:#4AA7ED;" menu="first" disabled></ion-menu-button>-->
            <ion-icon style="font-size: 240%; color:#4AA7ED;" src="\assets\icon\hamburger.svg"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="usuariosInfo">
        <h3 style="text-align: center">Información Cliente</h3>
        <h5 *ngIf="clientes.length==0" style="text-align: center">No hay datos para mostrar</h5>
        <div class="card" *ngIf="clientes.length>0">
            <ion-row>

                <div id="card-cliemte" *ngFor="let cliente of clientes">
                    <ion-col col=2 style="display: table-row">
                        <div class=card-body (click)="irVerCLiente(cliente.id)">
                            <ion-icon src="\assets\icon\userpicture.svg" alt=" " style="color: #293590; font-size: 385%;
                              margin-bottom: -7%"></ion-icon>
                            <label>{{cliente.nombres}}</label>
                            <label>{{cliente.apellidos}}</label>
                        </div>
                    </ion-col>
                </div>

            </ion-row>
        </div>
    </div>
</ion-content>