.item {
    -webkit-border-radius: 10px 10px 10px 10px !important;
    border: 4px solid #293590 !important;
    margin: 3% !important;
}

#infoCliente {
    display: table;
    margin: auto;
    text-align: center;
    font-size: x-large;
}

h5 {
    font-weight: bolder !important;
}