<ion-menu side="start" menuId="first8" contentId="main8">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title style="text-align:center;">Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content color="primary">
        <ion-list style="background: #4AA7ED;">
            <ion-item (click)="mensajeria();" color="primary">Mensajeria
                <ion-icon style="display: block; margin-left: auto; color: #293590; font-size: 250%; " side="end" src="\assets\icon\email.svg"></ion-icon>
            </ion-item>
            <ion-item (click)="cotizaciones();" color="primary">Cotizaciones
                <ion-icon style="display: block; margin-left: auto; color: #293590; font-size: 250%;" side="end" src="\assets\icon\users.svg"></ion-icon>
            </ion-item>
            <ion-item (click)="informacionCliente();" color="primary">Información Cliente
                <ion-icon style="display: block; margin-left: auto; color: #293590; font-size: 250%;" side="end" src="\assets\icon\userpicture.svg"></ion-icon>
            </ion-item>
            <ion-item (click)="cerrarSesion();" color="primary">Cerrar Sesion
                <ion-icon style="display: block; margin-left: auto; color: #293590; font-size: 250%;" side="end" src="\assets\icon\logout.svg"></ion-icon>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="main8"></ion-router-outlet>
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <!--<ion-menu-button menu="first"></ion-menu-button>-->
            <ion-icon style="font-size: 240%;" src="\assets\icon\hamburger.svg" (click)=openFirst()></ion-icon>
        </ion-buttons>

        <img style="max-width: 38%; margin-left:auto; margin-right: auto; display: block;" src="\assets\icon\sectapp.svg" alt="" srcset="">
        <ion-buttons slot="end" disabled>
            <!--<ion-menu-button style="color:#4AA7ED;" menu="first" disabled></ion-menu-button>-->
            <ion-icon style="font-size: 240%; color:#4AA7ED;" src="\assets\icon\hamburger.svg"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card-body">
        <h3 style="text-align: center">{{titulo}}
            <div *ngIf="loading" class="spinner-border text-warning float-right" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </h3>
        <span *ngIf="submitted && createcliente.invalid" style="color: red;">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
        <div>
            <form id="infoCliente" class="mt-4" [formGroup]="createcliente" (ngSubmit)="agregarEditarCliente()">
                <ion-icon src="\assets\icon\userpicture.svg" alt=" " style="color: #293590; font-size: 420%;"></ion-icon>
                <h5>Nombres</h5>
                <label>{{nombres}}</label>
                <h5>Apellidos</h5>
                <label>{{apellidos}}</label>
                <h5>Sexo</h5>
                <label>{{sexo}}</label>
                <h5>Telefono</h5>
                <label>{{telefono}}</label>
                <h5>Domicilio</h5>
                <label>{{domicilio}}</label>
            </form>
        </div>
    </div>
</ion-content>